body {
  font-family: 'Open Sans'; }

.page-title {
  margin-bottom: 20px; }

.painting {
  margin-bottom: 20px; }

.arts {
  padding: 20px; }

.title {
  margin-top: 20px;
  font-size: 60%; }

.technologies {
  font-size: 60%; }

.composition {
  margin-top: 36px;
  margin-left: 40px;
  background: linear-gradient(#fafaf0, #fafafa);
  width: 300px;
  height: 610px;
  position: relative; }

.composition .square {
  width: 22px;
  height: 22px;
  position: absolute; }
.composition .red-square {
  background: #cd1010; }
.composition .top-red-square {
  top: 50px; }
.composition .black-square {
  background: #101010; }
.composition .middle-black-square {
  top: 280px; }
.composition .bottom-black-square {
  top: 480px; }
.composition .bottom-red-square {
  top: 390px; }
.composition .blue-rectangle {
  position: absolute;
  background: #204aaa;
  width: 22px;
  height: 108px;
  top: 502px; }
.composition .black-line {
  width: 8px;
  height: 610px;
  position: absolute;
  background: #101010; }
.composition .left-black-line {
  left: 22px; }
.composition .right-black-line {
  left: 150px; }
.composition .yellow-rectangle {
  width: 142px;
  height: 61px;
  background: #f0d200;
  position: absolute;
  left: 158px; }
.composition .horizontal-black-line {
  position: absolute;
  left: 158px;
  background: #101010;
  height: 10px;
  width: 142px; }
.composition .top-black-line {
  top: 61px; }
.composition .middle-black-line {
  top: 284px; }
.composition .bottom-black-line {
  top: 484px; }

.red-wedge {
  padding-left: 100px;
  width: 500px;
  height: 400px;
  background: #fafafa;
  position: relative;
  overflow: hidden; }

.red-wedge .red-triangle {
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 80px 330px 80px;
  border-color: transparent transparent #fa0000 transparent;
  -webkit-transform: rotate(110deg);
  position: absolute;
  left: 170px;
  top: 20px;
  z-index: 4; }
.red-wedge .black-slanted {
  background: #101010;
  -webkit-transform: rotate(24deg);
  width: 400px;
  position: absolute;
  top: -20px;
  left: 310px;
  height: 550px;
  z-index: 2; }
.red-wedge .white-circle {
  background: #fafafa;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 280px;
  top: 113.33333px;
  z-index: 3; }
.red-wedge .large-gray-rectangle {
  width: 110px;
  height: 70px;
  -webkit-transform: rotate(-40deg);
  background: rgba(200, 200, 200, 0.9);
  position: absolute;
  left: 275px;
  top: 70px;
  z-index: 1; }
.red-wedge .small-gray-rectangle {
  background: rgba(200, 200, 200, 0.9);
  height: 65px;
  width: 70px;
  position: absolute;
  left: 260px;
  top: 240px; }
.red-wedge .small-red-rectangle {
  background: #fa0000;
  width: 15px;
  height: 40px;
  position: absolute;
  left: 166.66667px;
  top: 300px; }
.red-wedge .tiny-red-line {
  background: #fa0000;
  width: 15px;
  height: 3px;
  position: absolute;
  left: 186.66667px; }
.red-wedge .red-line-1 {
  top: 304px; }
.red-wedge .red-line-2 {
  top: 314px; }
.red-wedge .red-line-3 {
  top: 324px; }

.white-center {
  background: linear-gradient(#e04600, #f24600, #e6a000);
  height: 400px;
  width: 300px;
  padding: 6px;
  padding-bottom: 2px;
  -webkit-filter: blur(1px); }

.white-center .yellow {
  background: linear-gradient(rgba(245, 220, 0, 0.68), rgba(245, 220, 0, 0.76), rgba(245, 220, 0, 0.8));
  height: 150px;
  border-radius: 5%;
  border-top-right-radius: 7%;
  margin-left: 2px;
  margin-right: 2px; }
.white-center .black {
  background: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.6));
  height: 12px;
  margin: 3px 8px 3px 8px;
  border-radius: 10%; }
.white-center .white {
  background: linear-gradient(to right, rgba(252, 252, 252, 0.6), rgba(252, 252, 252, 0.9), rgba(252, 252, 252, 0.9), rgba(252, 252, 252, 0.9), rgba(252, 252, 252, 0.9), rgba(252, 252, 252, 0.6));
  height: 50px;
  border-radius: 5%;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%; }
.white-center .teal {
  background: rgba(0, 160, 180, 0.8);
  height: 2px;
  margin: 2px 5px 2px 5px;
  border-left: 1px rgba(250, 250, 250, 0.9) solid; }
.white-center .pink {
  background: linear-gradient(#c84678, #c84678, rgba(200, 70, 120, 0.85));
  height: 172px;
  border-radius: 5%;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 7%;
  margin-left: 2px;
  margin-right: 1px;
  box-shadow: inset 0 0 20px 4px rgba(150, 150, 150, 0.4); }

.red-tower {
  width: 800px;
  height: 580px;
  position: relative;
  overflow: hidden; }

.red-tower .sky {
  background: linear-gradient(#021e20, #19415f, #78b4b9);
  width: 100%;
  height: 380px;
  z-index: 1;
  position: absolute; }
.red-tower .light-ground {
  border-radius: 100%;
  width: 900px;
  margin-left: -50px;
  margin-top: -25px;
  height: 160px;
  background: #af731e;
  z-index: 3;
  position: absolute;
  top: 65%;
  border-top: 1px #202020 solid; }
.red-tower .shadow-ground {
  background: #322303;
  z-index: 4;
  height: 250px;
  width: 100%;
  position: absolute;
  top: 70%; }
.red-tower .tower {
  width: 170px;
  height: 200px;
  left: 38%;
  z-index: 2;
  background: linear-gradient(to right, #2d2819, #b46446, #b46446);
  position: absolute;
  top: 35%;
  border-left: 1px #202020 solid;
  border-right: 1px #202020 solid; }
.red-tower .tower-top {
  border-radius: 100%;
  width: 170px;
  height: 80px;
  z-index: 2;
  left: 38%;
  top: 28%;
  background: linear-gradient(to right, #2d2819, #b46446, #b46446);
  position: absolute;
  border-top: 1px #202020 solid; }
.red-tower .tower-door {
  position: absolute;
  width: 15px;
  height: 30px;
  background: #202020;
  z-index: 3;
  top: 55.9%;
  left: 55%; }
.red-tower .tower-door-top {
  position: absolute;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background: #202020;
  z-index: 3;
  top: 55%;
  left: 55%; }
.red-tower .left-wall {
  border-bottom: 150px solid #281e02;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  -webkit-transform: rotate(90deg);
  height: 0;
  width: 350px;
  position: absolute;
  top: 27%;
  left: -250px;
  z-index: 4; }
.red-tower .right-wall {
  border-bottom: 200px solid #281e02;
  border-left: 230px solid transparent;
  border-right: 100px solid transparent;
  -webkit-transform: rotate(-90deg);
  height: 0;
  width: 450px;
  position: absolute;
  top: 25%;
  left: 45%;
  z-index: 4; }
.red-tower .left-hill {
  border-radius: 50%;
  position: absolute;
  background: #5a5f46;
  width: 110px;
  height: 30px;
  z-index: 1;
  top: 58.5%;
  left: 18%;
  border-top: 1px #202020 solid;
  -webkit-transform: rotate(-4deg);
  box-shadow: 0 -2px 20px 3px rgba(240, 200, 200, 0.6); }
.red-tower .left-middle-hill {
  border-radius: 80%;
  position: absolute;
  background: #5a5f46;
  width: 100px;
  height: 60px;
  z-index: 1;
  top: 56.5%;
  left: 32%;
  border-top: 1px #202020 solid;
  -webkit-transform: rotate(-4deg);
  box-shadow: 0 -2px 20px 3px rgba(240, 200, 200, 0.6); }
.red-tower .statue-base {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #cbcdc8;
  border: 1px #202020 solid;
  top: 48%;
  left: 75%;
  z-index: 3;
  -webkit-transform: rotate(1deg); }
.red-tower .statue-base-shadow {
  position: absolute;
  background: rgba(30, 30, 30, 0.8);
  width: 15px;
  height: 90px;
  top: 49.8%;
  left: 73.2%;
  z-index: 3;
  -webkit-transform: rotate(1deg); }
.red-tower .statue-base-shadow-top {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  z-index: 3;
  border-bottom: 12px solid rgba(30, 30, 30, 0.8);
  top: 48.5%;
  left: 73.2%;
  -webkit-transform: rotate(135deg); }
.red-tower .statue-foundation {
  position: absolute;
  background: #cbcdc8;
  border: 1px #202020 solid;
  width: 105px;
  height: 6px;
  top: 65.3%;
  left: 72.2%;
  z-index: 3;
  -webkit-transform: rotate(1deg); }
.red-tower .statue-foundation-shadow {
  position: absolute;
  background: rgba(30, 30, 30, 0.8);
  width: 25px;
  height: 13px;
  top: 64.6%;
  left: 69.2%;
  z-index: 3;
  -webkit-transform: rotate(1deg); }
.red-tower .horse-shadow {
  position: absolute;
  background: rgba(30, 30, 30, 0.8);
  border-top-left-radius: 50%;
  border-top-right-radius: 60%;
  width: 247px;
  height: 13px;
  top: 64.4%;
  left: 38.5%;
  z-index: 3; }
.red-tower .horse-down-leg {
  background: rgba(30, 30, 30, 0.8);
  position: absolute;
  z-index: 3;
  width: 7px;
  height: 40px;
  top: 41.5%;
  left: 75%;
  -webkit-transform: rotate(15deg);
  display: none; }
.red-tower .horse-raised-leg-bottom {
  background: rgba(30, 30, 30, 0.8);
  position: absolute;
  z-index: 3;
  width: 7px;
  height: 32px;
  border-radius: 5%;
  top: 41%;
  left: 72.8%;
  -webkit-transform: rotate(-8deg);
  display: none; }
.red-tower .horse-raised-leg-top {
  background: rgba(30, 30, 30, 0.8);
  position: absolute;
  z-index: 3;
  width: 35px;
  height: 8px;
  border-radius: 15%;
  top: 40.5%;
  left: 72.5%;
  -webkit-transform: rotate(5deg);
  display: none; }
.red-tower .horse-body {
  background: #191919;
  position: absolute;
  border-radius: 45%;
  z-index: 3;
  width: 75px;
  height: 45px;
  top: 35.5%;
  left: 74.5%;
  -webkit-transform: rotate(5deg);
  display: none; }
.red-tower .left-house-front {
  background: #504646;
  position: absolute;
  z-index: 3;
  width: 24px;
  height: 13px;
  top: 59%;
  left: 29.8%;
  -webkit-transform: rotate(-5deg);
  border: 1px solid rgba(50, 50, 50, 0.9); }
.red-tower .left-house-front-door {
  background: #1e1e1e;
  position: absolute;
  z-index: 3;
  width: 7px;
  height: 7px;
  top: 60%;
  left: 30.7%;
  -webkit-transform: rotate(-4deg);
  border: 1px solid rgba(50, 50, 50, 0.9); }
.red-tower .left-house-front-roof {
  position: absolute;
  border-top: 9px solid #782020;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  z-index: 3;
  width: 0;
  height: 0;
  top: 57.5%;
  left: 29.7%;
  -webkit-transform: rotate(-184deg); }
.red-tower .left-house-side {
  background: #b4b4b4;
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 13px;
  top: 58.7%;
  left: 32.5%;
  -webkit-transform: rotate(-4deg);
  border: 1px solid rgba(50, 50, 50, 0.9); }
