.arts {
  padding: 20px; }

.title {
  margin-top: 20px;
  font-size: 60%; }

.composition {
  margin-top: 36px;
  margin-left: 40px;
  background: linear-gradient(#fafaf0, #fafafa);
  width: 300px;
  height: 610px;
  position: relative;
  display: none;
  /* temporary hide */ }

.composition .square {
  width: 22px;
  height: 22px;
  position: absolute; }
.composition .red-square {
  background: #cd1010; }
.composition .top-red-square {
  top: 50px; }
.composition .black-square {
  background: #101010; }
.composition .middle-black-square {
  top: 280px; }
.composition .bottom-black-square {
  top: 480px; }
.composition .bottom-red-square {
  top: 390px; }
.composition .blue-rectangle {
  position: absolute;
  background: #204aaa;
  width: 22px;
  height: 108px;
  top: 502px; }
.composition .black-line {
  width: 8px;
  height: 610px;
  position: absolute;
  background: #101010; }
.composition .left-black-line {
  left: 22px; }
.composition .right-black-line {
  left: 150px; }
.composition .yellow-rectangle {
  width: 142px;
  height: 61px;
  background: #f0d200;
  position: absolute;
  left: 158px; }
.composition .horizontal-black-line {
  position: absolute;
  left: 158px;
  background: #101010;
  height: 10px;
  width: 142px; }
.composition .top-black-line {
  top: 61px; }
.composition .middle-black-line {
  top: 284px; }
.composition .bottom-black-line {
  top: 484px; }

.red-wedge {
  padding-left: 100px;
  width: 500px;
  height: 400px;
  background: #fafafa;
  position: relative;
  overflow: hidden; }

.red-wedge .red-triangle {
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0 80px 330px 80px;
  border-color: transparent transparent #fa0000 transparent;
  -webkit-transform: rotate(110deg);
  position: absolute;
  left: 170px;
  top: 20px;
  z-index: 4; }
.red-wedge .black-slanted {
  background: #101010;
  -webkit-transform: rotate(24deg);
  width: 400px;
  position: absolute;
  top: -20px;
  left: 310px;
  height: 550px;
  z-index: 2; }
.red-wedge .white-circle {
  background: #fafafa;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 280px;
  top: 113.33333px;
  z-index: 3; }
.red-wedge .large-gray-rectangle {
  width: 110px;
  height: 70px;
  -webkit-transform: rotate(-40deg);
  background: rgba(200, 200, 200, 0.9);
  position: absolute;
  left: 275px;
  top: 70px;
  z-index: 1; }
.red-wedge .small-gray-rectangle {
  background: rgba(200, 200, 200, 0.9);
  height: 65px;
  width: 70px;
  position: absolute;
  left: 260px;
  top: 240px; }
.red-wedge .small-red-rectangle {
  background: #fa0000;
  width: 15px;
  height: 40px;
  position: absolute;
  left: 166.66667px;
  top: 300px; }
.red-wedge .tiny-red-line {
  background: #fa0000;
  width: 15px;
  height: 3px;
  position: absolute;
  left: 186.66667px; }
.red-wedge .red-line-1 {
  top: 304px; }
.red-wedge .red-line-2 {
  top: 314px; }
.red-wedge .red-line-3 {
  top: 324px; }
